body {
    background-color: #03042C;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 50px;
    padding: 30px 60px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 1.5s;
}

.center::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

.center span:nth-child(1){
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: anim1 2s linear infinite;
}

@keyframes anim1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.center span:nth-child(2){
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: anim2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes anim2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.center span:nth-child(3){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: anim3 2s linear infinite;
    /* animation-delay: 2s; */
}

@keyframes anim3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.center span:nth-child(4){
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: anim4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes anim4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.center:hover{
    background-color: #EEEb18;
    color: black;
    box-shadow: 0px 25px 50px #EEEb18;
}

.center:hover span{
    background: #EEEb18;
}