@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 16px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color:#EAF6F6;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #EAF6F6;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s ease;
}

body{
    width: 100%;
}

/* Header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAF6F6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

   
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin: 0 20px; 
    position: relative;
}

#navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(105, 99, 99);
    transition: 0.3s ease;
}

#navbar a:hover, #navbar a.active{
    color: #76BA99;
}

#close{
    display: none;
}


/* Pseudo Classes */
#navbar a.active::after, #navbar a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: #76BA99;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}



/* Home page */

#hero{
    background-image: url("images/img/hero4.png");
    width: 100%;
    height: 90vh;
    background-position: right 0% top 25% ;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
    color:#76BA99;
}

#hero button{
    background-image: url("images/img/button.png");
    padding: 14px 80px 40px 65px;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: #587567;

}
#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box{
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    margin: 15px 0;
    border: 3px solid #EAF6F6 ;
    border-radius: 4px;
    transition: 0.3s ease;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #4f9070 ;
    background-color: #FFDEDE;
    display: inline;
}

#feature .fe-box:nth-child(2) h6{
    background-color:#C4DFAA;
}

#feature .fe-box:nth-child(3) h6{
    background-color:#C8B6E2;
}
#feature .fe-box:nth-child(4) h6{
    background-color:#FBC5C5;
}
#feature .fe-box:nth-child(5) h6{
    background-color:#EAF6F6;
}
#feature .fe-box:nth-child(6) h6{
    background-color:#EE81B3;
}

#products{
    text-align: center;
}

#products .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#products .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 3px solid #EAF6F6;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#products .pro:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#products .pro img{
    width: 100%;
    border-radius: 4px;
}

#products .pro .desc{
    text-align: start;
    padding: 10px 0;
}

#products .pro .desc span{
    color: #606063;
    font-size: 14px;
}

#products .pro .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#products .pro .desc i{
    font-size: 12px;
    color: orange;
}

#products .pro .desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #4f9070 ;
}

#products .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #EAF6F6;
    color: #4f9070;
    position: absolute;
    bottom: 20px;
    right: 25px;
    border-color: 1px solid #C4DFAA;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/img/banner/b2.jpg");
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
}

#banner h2{
    color: #EAF6F6;
    font-size: 26px;
}

#banner h1{
    color: #EAF6F6;
    font-size: 40px;
    padding: 10px 0;
}

#banner h1 span{
    color: red;
}

#banner button:hover{
    background-color: #76BA99;
    color: #EAF6F6;
}
#sm-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#sm-banner h1{
    font-size: 38px;
    color: #EAF6F6;
    font-weight: 800;
}

#sm-banner h3{
   font-size: 20px;
   color:#EAF6F6;
   font-weight: 300;
}

#sm-banner p{
    font-size: 16px;
    color: #EAF6F6;
}

#sm-banner .banner-box:hover button{
    background-color: #3e765b;
    color: #EAF6F6;
}

#sm-banner .banner-box2{
    background-image: url("images/img/banner/b10.jpg");
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2{
   font-size: 32px;
   color: #EAF6F6;
}

#banner3 .banner-box p{
    font-size: 18px;
    color: red;
    font-weight: 600;
    margin-top: 0;
}

#banner3 .banner-box2{
    background-image: url("images/img/banner/b4.jpg");
}

#banner3 .banner-box3{
    background-image: url("images/img/banner/b18.jpg");
}

#news-letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("images/img/banner/b14.png");
    background-repeat: no-repeat;
    background-color: rgb(15, 15, 86);
}

#news-letter .desc h2{
color: #EAF6F6;
}

#news-letter .desc p{
    color: grey;
}

#news-letter span{
    color: orange;
}

#news-letter .form{
    display: flex;
    width: 40%;
}

#news-letter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#news-letter button{
    background-color: #4f9070;
    color: #EAF6F6;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#footer .logo{
   margin-bottom: 10px;
}

#footer h4{
    font-size:23px;
    padding-bottom: 20px;
}

#footer p{
    font-size: 20px;
    margin:0 0 8px 0;
    padding-bottom: 20px;
}

#footer a{
    font-size: 20px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

#footer .follow{
    margin-top: 10px;
}

#footer .follow i{
    padding-right: 4px;
    font-size: 20px;
    color: rgb(103, 99, 99);
    cursor: pointer;
}

#footer .install .row img{
       border-radius: 4px;
       border: 2px solid #3e765b;
}

#footer .install img{
    margin: 10px 0 20px 0;
}

#footer .follow i:hover, #footer a:hover{
    color: #3e765b;
}

#footer .copyright{
    width: 100%;
    text-align: center;
}


/*  Shop page */

#page-header{
    background-image: url("images/img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    padding: 14px;
}

#page-header p{
    font-size: 20px;
}
#page-header h2, #page-header p{
   color: #EAF6F6;
}
#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    padding: 20px 25px;
    background-color: #4d856a;
    color: #EAF6F6;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
}

#pagination i{
    font-size: 25px;
}


/* Single product */
#pro-details{
  display: flex;
  margin-top: 40px;
}
#pro-details .single-pro-image{
    width: 40%;
    margin-right: 20px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#pro-details .single-pro-details h4{
    padding:40px 0 20px 0;
}

#pro-details .single-pro-details h2{
    font-size: 26px;
}

#pro-details .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

#pro-details .single-pro-details button{
    background-color: #76BA99;
    color:#EAF6F6;
}
#pro-details .single-pro-details span{
    line-height: 25px;
}

/* Blog page */
#page-header.blog-header{
    background-image: url("images/img/banner/b19.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

#blog .blog-img{
    width: 50%;
    margin-right:40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.2s ease;
}


#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
    
}

#blog .blog-details a:hover{
    color: #76BA99;
}

#blog .blog-details a:hover::after{
    background-color: #76BA99;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left:0;
    font-size: 70px;
    font-weight: 700;
    color:#c2d3d3;
    z-index: -1;
}
/* About page */

#page-header.about-header{
    background-image: url("images/img/about/banner.png");
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#download-app h2{
    text-align: center;
}

#download-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#download-app video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Contact page */
#contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-details .details{
  width: 40%;
}
#contact-details .details span, #form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    border: 2px solid #c2d3d3;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#form-details form input, textarea{
    width: 100%;
    outline: none;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #c2d3d3;
}

#form-details form button{
    width: 10%;
    padding-left: 20px;
    background-color: #76BA99;
    color: white;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
   font-size: 13px;
   line-height: 23px;
   margin: 0;
}

#form-details .people div span{
    display: block;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

/* Cart page */

#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
  }
  #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(4),
  #cart table td:nth-child(5),
  #cart table td:nth-child(6){
    width: 150px;
    text-align: center;
  }

  #cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
  }
  #cart table thead{
    border: 2px solid #EAF6F6;
    border-left: none;
    border-right: none;
  }

  #cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
  }

#cart table tbody tr td{
    padding-top: 20px;
}

#cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 20px;
}

#coupon input{
    padding: 10px 20px;
    outline:none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #c2d3d3;
}

#coupon button{
    color: #e5f2f2;
    background-color: #76BA99;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #c2d3d3;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e5f2f2;
    padding: 10px;
    font-size: 17px;
}

#subtotal button{
    background-color: #76BA99;
    color: #e5f2f2;
}


@media (max-width:768px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column ;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px; 
        height: 100vh;
        width: 300px;
        background-color: #EAF6F6;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0; 
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #cart{
        display: none;
    }

    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left:30px;
      color: #1a1a1a;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }
    #feature .fe-box {
    margin: 15px 15px;
    }
    #products .pro-container {
        justify-content: center;
    }
    #products .pro {
    margin: 15px;
    }
    #banner {
     height: 20vh;
    }

    #banner h1 {
  text-align: center;
    }
    button.normal {
     margin-bottom: 10px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;

}

#banner3 {
    padding: 0 40px;
}
#banner3 .banner-box {
  width: 28%;
}
#banner3 .banner-box h2 {
    font-size: 20px;
    line-height: 20px;

}
#banner3 .banner-box p {
    margin-top: 60;
}
#news-letter input {
 height: 42px;
}

/* Contact page */

#form-details form {
    width: 45%;
}
#form-details form button {
    width: 40%;

}
}

@media (max-width: 478px){
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 5px 30px;

    }
    #hero {
        height: 70vh;
        padding: 5px 20px;
        background-position: 55%;

    }

    #hero h2{
            font-size: 26px;
            line-height: 34px;    
    }
    #hero h1 {
        font-size: 30px;
        line-height: 34px;
    }
    #banner {
        height: 50vh;
 
    }
    #banner h1 {
        font-size: 30px;
        padding: 5px 0;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;

    }
    #products .pro {
        width: 100%;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 40vh;
    }

    #sm-banner .banner-box h1 {
        line-height: 50px;
    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #footer p {
        font-size: 20px;
        text-align: start;
        padding-bottom: 10px;
    }

    /* Single Product  */
    #pro-details {
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    .single-pro-details {
        width: 100%;

    }
    
    /* Blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #blog .blog-details {
        width: 100%;
    }
    #page-header p {
        text-align: center;
    }

    /* About page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;

    }
    #about-head div {
        padding-left: 0px;
    }

    #download-app .video {
        width: 100%;
   
    }

/* Contact page */
#contact-details {

    flex-direction: column;

}
#contact-details .details {
    width: 100%;
    margin-bottom: 10px;
}
#contact-details .map {
    width: 100%;
}

#form-details {
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;

}
#form-details form {
    width: 100%;
    margin-bottom: 30px;
}
/* 
Cart details */
#cart-add {
    flex-direction: column;
}
#coupon {
    width: 100%;

}
#coupon input {

    width: 70%;

}
#subtotal {
    width: 100%;

}
}
