
.align-start {
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.align-center {
  -ms-align-items: center;
  align-items: center;
}

.align-stretch {
  -ms-align-items: stretch;
  align-items: stretch;
}

.align-baseline {
  -ms-align-items: baseline;
  align-items: baseline;
}

.align-baseline div:nth-child(2) {
  font-size: 24px;
}

.align-baseline div:nth-child(3) {
  font-size: 14px;
}

.align-baseline div:nth-child(4) {
  font-size: 30px;
}
