
.container {
  flex-wrap: nowrap;
  border: 1px solid #fff;
  border-radius: 2px;
}

.container div {
  flex-basis: 200px;
}

.shrink1 div:nth-child(3),
.shrink1 div:nth-child(4),
.shrink1 div:nth-child(5) {
  flex-shrink: 0;
}

.shrink2 div:nth-child(3) {
  flex-shrink: 5;
}
