
.grow1 div:nth-child(3) {
  flex-grow: 1;
}

.grow2 div, .grow3 div, .grow4 div {
  flex-grow: 1;
}

.grow3 div:nth-child(3) {
  flex-grow: 2;
}

.grow4 div:nth-child(3) {
  flex-grow: 4;
}
