
.order1 div:nth-child(2) {
  order: -1;
}

.order1 div:nth-child(3) {
  order: 1;
}

.order2 div:nth-child(1) {
  order: 3;
}

.order2 div:nth-child(2) {
  order: 2;
}

.order2 div:nth-child(3) {
  order: 1;
}

.order2 div:nth-child(4) {
  order: 2;
}
