
.self-start {
  -ms-align-self: flex-start;
  align-self: flex-start;
}

.self-end {
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.self-center {
  -ms-align-self: center;
  align-self: center;
}

.self-stretch {
  -ms-align-self: stretch;
  align-self: stretch;
}

.self-baseline {
  -ms-align-self: baseline;
  align-self: baseline;
}

.container.baseline {
  width: 800px;
}

.container.baseline div:nth-child(2) {
  font-size: 24px;
}

.container.baseline div:nth-child(3) {
  font-size: 14px;
}

.container.baseline div:nth-child(4) {
  font-size: 30px;
}

.container.baseline div:nth-child(5) {
  font-size: 8px;
}

.container.baseline div:nth-child(6) {
  font-size: 50px;
}
