
.basis1 div:nth-child(1) {
  flex-basis: 200px;
}

.basis1 div:nth-child(2) {
  flex-basis: 300px;
}

.basis1 div:nth-child(4) {
  flex-basis: 100px;
}

.basis2 div:nth-child(1) {
  flex-basis: 25%;
}

.basis2 div:nth-child(4) {
  flex-basis: 50%;
}
