
body {
  margin: 0;
}

#holygrail {
  min-height: 100vh;
  flex-flow: column nowrap;
}

#main {
  flex-flow: row nowrap;
  display: flex;
  flex: 1;
}

#content {
  flex: 3 1 auto;
}

#secondary, #tertiary {
  flex: 1 2 auto;
}

#secondary {
  order: -1;
}
